.m_dis_in_b{
    display: inline-block;
}
.m_margin_0a{
    margin: 0 auto;
}
.m_init_div{
    display: inline-block;
}
.m_marginbottom_pxA{
    margin-bottom: 14px;
}
.m_textalign_c{
    text-align: center;
}
.m_width_25{
    width: 25%;
}
.m_width_33{
    width: 33%;
}
.m_width_40{
    width: 45%;
}
.m_width_45{
    width: 45%;
}
.m_width_50{
    width: 50%;
}
.m_width_55{
    width: 55%;
}
.m_width_60{
    width: 60%;
}
.m_width_80{
    width: 80%;
}
.m_width_100{
    width: 100%;
}
.m_height_300px{
    height: 300px;
}
.m_padding_l_4{
    padding-left: 4%;
}
.m_padding_l_5{
    padding-left: 5%;
}
.m_padding_lr_4{
    padding-left: 4%;
    padding-right: 4%;
}
.m_padding_lr_5{
    padding-left: 5%;
    padding-right: 5%;
}
/* 定期报告周报-echarts模块 */
.m_common_echarts_styleA{
    display: inline-block;
    height: 300px;
    width: 100%;
}
.m_common_echarts_styleB{
    display: inline-block;
    height: 300px;
    width: 100%;
}
/* 定期报告周报-字段通用title */
.m_common_title_font{
    color: #BF0000;
    font-size: 30px;
    font-weight: bold;
}
/* 定期报告周报-字段通用 small title */
.m_common_sm_title_font{
    color: #585858;
    font-size: 16px;
    /* font-weight: bold; */
}
/* 定期报告周报-字段通用样式 */
.m_common_content_font{
    font-size: 16px;
    color: #000000;
}
